/* Hide the delete button by default */
.btnDelete {
    display: none;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  

  input{
    width: 100%;
  }

  .task-item:hover .btnDelete {
    display: inline-block;
    
  }


body{
    margin-top: 100px;
}

  ul.no-bullets {     
    list-style-type: none; 
    padding-left: 0;
} 

  ul li{
    border: 1px solid grey;
    padding: 3px;
    padding-left: 0;
  }

  